@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
