*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}


a {
  display: block;
  color: inherit;
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

dl,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

path {
  fill: inherit;
  stroke: inherit;
}
